{{- range $productName, $val := .Values.products }}
---
apiVersion: argoproj.io/v1alpha1
kind: ApplicationSet
metadata:
  name: "{{ $productName }}"
  namespace: argocd
spec:
  generators:
  - clusters:
      values:
        environment: staging
      selector:
        matchLabels:
          environment: staging
        {{- with $val.clusterMatchExpression }}
        matchExpressions:
        {{- toYaml . | nindent 10 }}
        {{- end }}   
  - clusters:
      values:
        environment: production
      selector:
        matchLabels:
          environment: production
          {{- with $val.prodClusterLabel }}
          {{- toYaml . | nindent 10 }}
          {{- end }}
        {{- with $val.clusterMatchExpression }}
        matchExpressions:
        {{- toYaml . | nindent 10 }}
        {{- end }}
  ignoreApplicationDifferences:
  - jqPathExpressions:
    - .spec.source.helm.parameters
    - .spec.source.helm.values
    - .spec.sources[] | .helm.parameters
    - .spec.sources[] | .helm.values        
  goTemplate: true
  goTemplateOptions: ["missingkey=error"]
  {{- if ne .preserveResourcesOnDeletion false }}
  syncPolicy:
    preserveResourcesOnDeletion: true
  {{- end }}
  template:
    metadata:
      name: {{ $productName }}-{{ "{{" }} .values.environment {{ "}}" }}
      annotations:
        kargo.akuity.io/authorized-stage: {{ $productName }}:{{ "{{" }} .values.environment {{ "}}" }}
    spec:
      project: {{ default "default" }}
      sources:
      - repoURL: {{ $val.repoURL }}
        targetRevision: {{ default "HEAD" .targetRevision }}
        helm:
          releaseName: {{ default $productName .releaseName }}
          skipCrds: {{ default false .skipCrds }}
          valueFiles:
            - $valuesRepo/values.yaml
          valuesObject:
            productName: {{ $productName }}
            {{- with $val }}
            {{- toYaml . | nindent 12 }}
            {{- end }}
        path: helm
      - repoURL: {{ $val.repoURL }}
        targetRevision: {{ default "HEAD" .targetRevision }}
        ref: valuesRepo
      destination:
        name: '{{ "{{" }} .name {{ "}}" }}'
        namespace: {{ default $productName .releaseNamespace }}-{{ "{{" }} .values.environment {{ "}}" }}
      syncPolicy:
        retry:
          limit: 3
        {{- if ne .autosync false }}
        automated:
          selfHeal: true
        {{- if ne .pruneResource false }}
          prune: true
        {{- end }}
        {{- end }}
        syncOptions:
        - CreateNamespace=true
        - ApplyOutOfSyncOnly=true
        {{- if .migration }}
        - FailOnSharedResource=true
        {{- end }}
        {{- if .ignoreDifferences }}
        - RespectIgnoreDifferences=true
        {{- end }}
        {{- if .serverSideApply }}
        - ServerSideApply=true
        {{- end }}
        {{- if .syncOptionsReplace }}
        - Replace=true
        {{- end }}

{{- end }}